<% @first = {link: "/patients/#{params[:patient_id]}", show: true} %>
<% @second = "Comparaison" %>
<% @third = {show: false} %>


<p>Première(s) image(s)</p>
<% @patient.visites.first.images.each do |photo| %>
	<%= link_to "https://res.cloudinary.com/zepri/image/upload/#{photo.path}" do %>
		<%= cl_image_tag photo.path, style: "width:60%;" %>
	<% end %>
<% end %>
<br>

<p>Dernière(s) image(s)</p>
<% @patient.visites.last.images.each do |photo| %>
	<%= link_to "https://res.cloudinary.com/zepri/image/upload/#{photo.path}" do %>
		<%= cl_image_tag photo.path, style: "width:60%;" %>
	<% end %>
<% end %>
