<div class='max-w-sm w-full lg:max-w-full lg:flex'>
    <%= link_to patient do %>
    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-gray-100 rounded-b lg:rounded-b-none lg:rounded-r p-1 flex flex-col justify-between leading-normal">
        <div class="text-gray-900 text-center text-l">
            <%= patient.full_name %>
        </div>
    </div>
    <% end %>
</div>