<% @title = 'Mes Patients' %>
<% @action = {link: '/patients/new', icon: icon_add} %>

<div class='flex flex-wrap'>
  <% @patients.order(:nom).each do |patient| %>
    <%= render 'patients/patient_card', patient: patient %>
  <% end %>
</div>

